@model Product
@{
    ViewData["Title"] = "Urun Details";
}

@section Styles
    {
    <style type="text/css">
        body {
            background: url(/images/CreateBG.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        .bg-trans {
            background-color: rgba(0, 0, 0, 0.719);
            border-radius: 10px;
        }
    </style>
}

<h2 class="text-center mb-4 mt-5">Ürün Detay Sayfası</h2>




    <form asp-action="Uptade" method="post">

        <div class="row mt-5 ">



            <div class="col-1 col-lg-4 col-md-3"></div>
            <div class="col-10 col-lg-4 col-md-6 text-white bg-trans p-5">
                <input type="hidden" name="ProductId" id="ProductId" value="@Model.ProductId" />
                <div>
                    <label> Kategori Adı </label>
                    <label class="form-control mb-3" asp-for="@Model.Category">@Model.Category</label>
                </div>
                <div>
                    <label> Ürün Adı </label>
                    <label class="form-control mb-3" asp-for="@Model.Name">@Model.Name</label>
                </div>
                <div>
                    <label> Ürün Açıklaması </label>
                    <label class="form-control mb-3" asp-for="@Model.Description">@Model.Description</label>
                </div>
                <div>
                    <label> Ürün Fiyatı </label>
                    <label class="form-control mb-3" asp-for="@Model.Price">@Model.Price</label>
                </div>
                <div class="text-right">
                    <a class="btn btn-primary" asp-action="Uptade" asp-route-id="@Model.ProductId">Go Uptade</a>
                </div>


            </div>
            <div class="col-1 col-lg-4 col-md-3"></div>

        </div>
    </form>
